header{
    background: url("./assets/worldmap.png");
    background-size: cover ;
    height: 213px;
    display: flex;
    align-items: center;
    justify-content: center;
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#parrot{
    width: 95px;height: 85px;;top: 65px;left: 42px;
}
h1{
    font-family: Big Shoulders;font-weight: 800;font-style: ExtraBold;font-size: 43.42px;leading-trim: NONE;line-height: 125%;letter-spacing: 0%;
    color: #32CD32;
    margin-bottom: 0px;
    padding: 0;
}
h3{
    font-family: "Poppins", sans-serif;font-weight: 600;font-style: SemiBold;font-size: 12.21px;leading-trim: NONE;line-height: 150%;letter-spacing: 0%;
    color: #FFFFFF;
    margin-top: 0px;
    padding: 0;
}
.type{
    border: 1.5px solid #586E88;
    background: #F5F5F5;
    border-width: 1.5px;border-radius: 10px;
    margin:30px 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
textarea{
    background-color: inherit;
    border: none;
    resize: none;
    width:100%;
    font-family: Poppins;font-weight: 600;font-style: SemiBold;font-size: 20px;leading-trim: NONE;line-height: 130%;letter-spacing: 0%;   
}
#messages{
    border: 4px solid #252F42;
    /* padding-top:40px; */
    border-radius: 15px;
    margin:30px 15px;
    width:calc(100%-15px);
    height:calc(100%-30px);
}
.material-icons.orange600 { color: #FB8C00; }
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:40px;
    margin-bottom: 10px;
}
.mf{
    font-family: Poppins;font-weight: 600;font-style: SemiBold;font-size: 20px;leading-trim: NONE;line-height: 130%;letter-spacing: 0%;   
    padding:10px;
    margin:30px 25px;
   
}
.human-reply{
    background: #65DA65;
    margin:30px 25px;
    padding: 20px;
    width: 313px;height: 59px;border-top-left-radius: 2px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;
}
.ai-reply{
    background: #035A9D;
     border-top-left-radius: 10px;border-top-right-radius: 2px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;
     font-family: Poppins;font-weight: 600;font-style: SemiBold;font-size: 20px;leading-trim: NONE;line-height: 130%;letter-spacing: 0%;
     text-align: left;
     padding-left: 20px;
     color:#fff;
     
}
button{
    
    width: 50px;
    height: 33.33px;
    border: 1px solid #999999;
}
.select{
    /* box-sizing: border-box; */
    border: 5px solid #BAD4FF;
    box-shadow: 0px 4px 4px 0px #00000040;

}
button:focus {
  outline: none;
}
#fr{
    background: url("./assets/fr-flag.png");
    background-size: cover;
}
#sp{
    background: url("./assets/sp-flag.png");
    background-size: cover;
}
#jp{
    background: url("./assets/jpn-flag.png");
    background-size: cover;
}
#ai.warning{
    color: #f7004a;
    font-style: italic;
}
.k{
    display: none;
}